bandit==1.7.4; python_version >= '3.7'
bandit==1.7.1; python_version == '3.6'
bandit==1.6.2; python_version < '3.0'
Django==1.11.29; python_version < '3.0'
Django==3.2.18; python_version >= '3.0'
pylint==2.16.2; python_version >= '3.7.2'
pylint==2.14.5; python_version >= '3.7' and python_version < '3.7.2'
pylint==2.13.9; python_version == '3.6'
pylint==1.9.5; python_version < '3.0'
pylint==1.9.5; python_version < '3.0'
Markdown==3.1.1; python_version < '3.0'
Markdown==3.3.7; python_version == '3.6'
Markdown==3.4.1; python_version >= '3.7'
six==1.16.0
deepdiff==3.3.0; python_version < '3.0'
deepdiff==6.2.3; python_version > '3.0'
# Problems below with ordered-set dependency for deepdiff
# deepdiff==5.8.1; python_version == '3.6'
# deepdiff==6.2.3; python_version >= '3.7'
