bandit==1.6.2; python_version < '3.0'
bandit==1.7.1; python_version == '3.6'
bandit==1.7.5; python_version == '3.7'
bandit==1.7.10; python_version == '3.8'
bandit==1.8.6; python_version >= '3.9'
Django==1.11.29; python_version < '3.0'
Django==3.2.25; python_version >= '3.0' and python_version <= '3.7'
Django==4.2.21; python_version >= '3.8'
pylint==1.9.5; python_version < '3.0'
pylint==2.13.9; python_version == '3.6'
pylint==2.17.7; python_version == '3.7'
pylint==3.2.7; python_version == '3.8'
pylint==4.0.0; python_version >= '3.9'
Markdown==3.1.1; python_version < '3.0'
Markdown==3.3.7; python_version == '3.6'
Markdown==3.4.4; python_version == '3.7'
Markdown==3.7; python_version == '3.8'
Markdown==3.9; python_version >= '3.9'
six==1.17.0
deepdiff==3.3.0; python_version < '3.0'
deepdiff==5.7.0; python_version == '3.6'
deepdiff==6.7.1; python_version >= '3.7' and python_version <= '3.8'
deepdiff==8.6.1; python_version >= '3.9'
