{% extends "pdk_base.html" %}
{% load static %}
{% load passive_data_kit %}
{% load passive_data_kit_codebook %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% for other_type in data_types %}
            <li><a href="{{ other_type.get_absolute_url }}">{{ other_type.generator }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="sub-header">{{ data_type.generator }}</h1> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="sub-header">Description</h3> 
        </div>
        <div class="col-md-12">
            {{ data_type.markdown }}
        </div>
    </div>
    
    {% for group in data_type.variable_groups %}
		<div class="row">
			<div class="col-md-12">
				<h3 class="sub-header"><a name="data_collection"></a>{{ group.0 }}</h3> 
			</div>
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Variable</th>
							<th scope="col" style="max-width: 50%;">Description</th>
						</tr>
					</thead>
					<tbody>
						{% for variable in group.1 %}
						<tr>
							<th scope="row">
								<a href="#{{ variable.pdk_codebook_key }}">{{ variable.pdk_variable_name }}</a><br />
								<code>{{ variable.pdk_codebook_key }}</code>
							</th>
							<td>
								{% if variable.pdk_variable_summary %}
									{{ variable.pdk_variable_summary }}
								{% else %}
									{{ variable.pdk_variable_description }}
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}


    {% for group in data_type.variable_groups %}
		<div class="row">
			<div class="col-md-12">
				<h3 class="sub-header"><a name="data_collection"></a>Details  - {{ group.0 }}</h3> 
			</div>
			{% for variable in group.1 %}
				<div class="col-md-12">
					<h4><a name="{{ variable.pdk_codebook_key }}">{{ variable.pdk_variable_name }}</a></h4>
					<code>{{ variable.pdk_codebook_key }}</code>
			
					{{ variable.pdk_variable_description|codebook_markdown }}
					
					{% if variable.is_freetext %}
						<p><strong>Free-text string, not constrained to any particular set of implicit values.</strong><p>
					{% else %}
						{% if variable.is_constant %}
							<p><strong>Constant value ({{ variable.constant_value }}), does not change.</strong><p>
						{% else %}
							{% if 'string' in variable.types %}
								{% if variable.examples %}
									<p><strong>Text value, example values (not exhaustive):</strong><p>
									<ul>
										{% for value in variable.examples %}
											<li>{{ value }}</li>
										{% endfor %}
									</ul>
								{% else %}
									<p><strong>Text value, observed values (exhaustive):</strong><p>
									<ul>
										{% for value in variable.observed %}
											<li>{{ value }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							{% else %}
								{% if 'object' in variable.types %}
									<p><strong>Arbitrary data structure, expressed as a JSON object.</strong><p>

									{% if variable.example %}
										<p><strong>Example:</strong><p>
										
										<pre>{{ variable.example }}</pre>
									{% endif %}
								{% else %}
									{% if 'list' in variable.types %}
										<p><strong>List, observed values (exhaustive):</strong><p>
										<ul>
											{% for value in variable.observed %}
												<li>{{ value }}</li>
											{% endfor %}
										</ul>
									{% else %}
										{% if 'boolean' in variable.types %}
											<p><strong>Boolean value, True or False.</strong><p>
										{% else %}
											{% if 'timestamp' in variable.types %}
												<p><strong>Timestamp, ranges from {{ variable.range.0 }} to {{ variable.range.1 }}.</strong><p>
											{% else %}
												{% if 'file' in variable.types %}
													<p><strong>Binary file data</strong><p>
												{% else %}
													{% if variable.range %}
														<p><strong>Numeric value, ranges from {{ variable.range.0 }} to {{ variable.range.1 }}.</strong><p>
													{% else %}
														{% if variable.pdk_labelled_ranges %}
															<p><strong>Scored values, observed ranges:</strong><p>
															<ul>
																{% for range in variable.pdk_labelled_ranges %}
																	<li>{{ range.0 }}: {{ range.1.0 }} to {{ range.1.1 }}</li>
																{% endfor %}
															</ul>
														{% else %}
															{% if variable.pdk_labelled_ranges != None %}
																<p><strong>Unable to score provided content. No score ranges available.</strong><p>
															{% else %}
																<div>
																	<pre>{{ variable.pdk_codebook_json }}</pre>
																</div>
															{% endif %}
														{% endif %}
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
	    </div>
	{% endfor %}

    <script data-main="{% static 'pdk_codebook/js/codebook_page.js' %}" src="{% static 'pdk/js/lib/require.js' %}"></script>
{% endblock %}
